<h1>Learn, Cook, Eat Your Food</h1>
<div class="tabs">
  <ul>
    <li><a #link (click)="changeMeal($event)">All</a></li>
    <li><a #link (click)="changeMeal($event)">Beef</a></li>
    <li><a #link (click)="changeMeal($event)">Breakfast</a></li>
    <li><a #link (click)="changeMeal($event)">Chicken</a></li>
    <li><a #link (click)="changeMeal($event)">Dessert</a></li>
    <li><a #link (click)="changeMeal($event)">Goat</a></li>
    <li><a #link (click)="changeMeal($event)">Lamp</a></li>
    <li><a #link (click)="changeMeal($event)">Miscellaneous</a></li>
    <li><a #link (click)="changeMeal($event)">Pasta</a></li>
    <li><a #link (click)="changeMeal($event)">Pork</a></li>
    <li><a #link (click)="changeMeal($event)">Seafood</a></li>
    <li><a #link (click)="changeMeal($event)">Side</a></li>
    <li><a #link (click)="changeMeal($event)">Starter</a></li>
    <li><a #link (click)="changeMeal($event)">Vegan</a></li>
    <li><a #link (click)="changeMeal($event)">Vegetarion</a></li>
  </ul>
</div>
